<!-- NG-ZORRO -->
<div>
    <router-outlet></router-outlet>
    <!-- <nz-layout>
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0" [nzZeroTrigger]="zeroTrigger">
          <app-sider></app-sider>
        </nz-sider>    
        <nz-layout>
            <nz-header class="header_area" style="background: #fff; padding:0;">
                <app-header></app-header>
            </nz-header>
            <nz-content style="margin:24px 16px 0;">
                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
    </nz-layout>
    <ng-template #zeroTrigger>
    <i nz-icon type="menu-fold" theme="outline"></i>
    </ng-template> -->
</div>

