<div style="padding:24px; background: #fff; min-height: 100vh;">
    <h4>Frontend</h4>
    <div>
    Angular 7
    <br>
    All the functionality is built up with <a href="https://angular.io/">Angular 7</a>
    </div>
    <br>
    <br>
    <br>
    <div>
        Dash Board & User Icon
        <br>
        The main page and tab functionality is build up with <a href="https://ng.ant.design/docs/introduce/en">Angular Ant Design</a>
    </div>

    <br>
    <br>
    <br>
    <div>
        Calendar
        <br>
        The calendar references an open source Angular Calendar <a href="https://mattlewis92.github.io/angular-calendar/#/kitchen-sink">Angular 6+ Calendar</a>
        <br>
        <br>
        <br>
        Weather API
        <br>
        Retrieve weather forecast data and weather icon from <a href="https://home.openweathermap.org/">OpenWeatherMap</a>
    </div>
    <br>
    <br>
    <br>
    <div>
        <h4>Backend</h4>
        Django
        <br>
        All the functionality is built up based on <a href="https://www.djangoproject.com/">Django</a>
    </div>
    <br>
    <br>
    <br>
    <div>
    Auto Mailing API
    <br>
    Django Core functionality and Google Mailing API <a href="https://developers.google.com/gmail/api/">Google Mail API</a>
    </div>
    <br>
    <br>
    <br>
    <div>
    RestFrameWork
    <br>
    <a href="https://www.django-rest-framework.org/">Django Restful API</a>
    </div>
    <br>
    <br>
    <br>
    <div>
    JWT WEb TOKEN
    <br>
    Django <a href="https://pyjwt.readthedocs.io/en/latest/">Web Token Generation</a>
    </div>
    <br>
    <br>
    <br>
    <div>
    PostgreSQL database adapter
    <br>
    <a href="http://initd.org/psycopg/docs/">Psycopg – PostgreSQL database adapter for Python</a>
    </div>
</div>